USE [master]
GO
/****** Object:  Database [progress_service]    Script Date: 8/20/2025 6:08:30 PM ******/
CREATE DATABASE [progress_service]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'progress_service', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\progress_service.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'progress_service_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\progress_service_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [progress_service].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [progress_service]
GO
/****** Object:  User [thaian]    Script Date: 8/20/2025 6:08:30 PM ******/
CREATE USER [thaian] FOR LOGIN [thaian] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [thaian]
GO
/****** Object:  Table [dbo].[lesson_progress]    Script Date: 8/20/2025 6:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson_progress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_completed] [bit] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[lesson_progress] ADD  DEFAULT ((0)) FOR [is_completed]
GO
USE [master]
GO
